*session*
.last-package-update-day
.python-environments
#*
*#
*~
ac-comphist.dat
anaconda-mode
company-statistics-cache.el
elpa
eshell
helm-adaptive-history
projectile-bookmarks.eld
projectile.cache
recentf
request
semanticdb
tern-django*
tramp
url
xkcd
transient
user/.emacs.d/elpy
straight/
!straight/versions
user/.emacs.d/emojis
user/.env_private
user/.emacs.d/forge-database.sqlite
.DS_Store
