[Unit]
Description=Insync
After=started.target polybar.service
PartOf=graphical-session.target

[Service]
ExecStart=/usr/bin/insync start --no-daemon
Restart=always
RestartSec=2

[Install]
WantedBy=started.target
