[Unit]
Description=watch for song changes and tell polybar
After=polybar.service
PartOf=i3.target

[Service]
ExecStart=/bin/bash -c now_playing_gpmdp

[Install]
WantedBy=i3.target
