[Unit]
Description=pulseaudio systray applet
After=i3.target polybar.service
PartOf=graphical-session.target

[Service]
ExecStart=/usr/bin/pasystray

[Install]
WantedBy=i3.target
