[Unit]
Description=Redshift display colour temperature adjustment (GUI)
Documentation=http://jonls.dk/redshift/
After=display-manager.service
After=started.target
After=geoclue_agent.service
PartOf=graphical-session.target

[Service]
ExecStart=/usr/bin/redshift-gtk
Restart=always
RestartSec=2

[Install]
WantedBy=started.target
