[Unit]
Description=Redshift display colour temperature adjustment (GUI)
Documentation=http://jonls.dk/redshift/
After=started.target geoclue_agent.service polybar.service
PartOf=graphical-session.target

[Service]
ExecStart=/usr/bin/redshift-gtk -t 5500K:3200K
Restart=always
RestartSec=2

[Install]
WantedBy=started.target
