[Unit]
Description=Rescuetime
After=started.target polybar.service
PartOf=graphical-session.target polybar.service

[Service]
ExecStart=/usr/bin/rescuetime
Restart=on-failure
RestartSec=2

[Install]
WantedBy=started.target
