[Unit]
Description=Todoist
After=started.target polybar.service
PartOf=graphical-session.target

[Service]
ExecStart=/usr/local/bin/todoist

[Install]
WantedBy=started.target
