[Unit]
Description=Upwork
After=started.target polybar.service
PartOf=graphical-session.target

[Service]
ExecStart=/usr/bin/upwork

[Install]
WantedBy=started.target
