[Unit]
Description=watch for fullscreen to disable xautolock
After=started.target

[Service]
ExecStart=/bin/bash -c watch_fullscreen
Restart=on-failure

[Install]
WantedBy=started.target
