[Unit]
Description=lock screen after a few minutes of inactivity (DEPRECATED see xidlehook.service)
Conflicts=fullscreen.target
After=i3.target
PartOf=i3.target

[Service]
Type=simple
ExecStart=/usr/bin/xautolock -time 10 -locker "systemctl --user restart lock_screen.service"

[Install]
WantedBy=i3.target
